<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steevanz</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="Logo"><a routerLink=""><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <nav class="menu">
                <ul>
                    <li><a href="#"><img src="assets/Rede.png" alt="Rede"></a></li>
                    <li><a href="#"><img src="assets/Contato.png" alt="Contato"></a></li>
                    <li><a href="#"><img src="assets/Loja.png" alt="Loja"></a></li>
                </ul>
                <div class="Menu-desktop">
                    <img src="assets/Menu.png" alt="Menu">
                </div>
            </nav>
        </div><!--container-->
    </header><!--header-->
    <div class="checkout-number">
        <div class="container">
            <div class="w100">
                <div class="title-checkout">
                    <h2>Checkout</h2>
                </div><!--title-checkout-->
                <div class="number">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div><!--number-->
            </div>
        </div>
    </div>
    <div class="delivery-carro">
            <div class="title-carro">
                <img src="assets/carro.png" alt="carro">
                <span>Free delivery in Portugal for amounts over 50€</span>
        </div>
    </div>
    <div class="price">
        <div class="container">
            <h2>Total: 50€</h2> <span>26,99€ (Product) + 4,99€ (Delivery Fee)</span>
        </div>
    </div>
    <section class="main">
        <div class="container">
            <div class="title-image">
                <div>
                    <span>4</span> <h2>Payment</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="Payment">
        <div class="container">
            <div class="row">
                <div class="w50-1">
                    <div class="card">
                        <img src="assets/payment.png" alt="card">
                        <p>Pay securely with your credit card.</p>
                    </div>
                    <div>
                        <form action="">
                          <div class="number-Card">
                            <label for="numberCard">Credit Card*</label>
                            <input type="text" name="numberCard" placeholder="1234 1234 1234 1234">
                          </div>
                          <div class="input-row">
                            <div>
                                <label for="date">Expiration Date*</label>
                                <input type="text" name="date" placeholder="05/24">
                            </div>
                            <div>
                                <label for="cvc">CVC*</label>
                                <input type="text" name="cvc" placeholder="123">
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="check-box">
                        <input type="checkbox">
                        <span>I have read and accept the store's terms and conditions*.</span>
                    </div>
                </div><!--w50-1-->
                <div class="w50-2">
                    <div>
                        <select name="select">
                            <option value="Resume">Resume</option>
                            <option value="Resume">Resume-2</option>
                            <option value="Resume">Resume-3</option>
                        </select>
                    </div>
                </div><!--w50-2-->
            </div><!--row-->
        </div>
    </section>

    <div class="buttons">
        <div class="container">
            <div class="btn-clean">
                <a routerLink="/checkout2">PREVIOUS</a>
            </div>
            <div class="btn-next">
                <a routerLink="/complete">CHECKOUT</a>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="Logo"><a routerLink=""><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <div class="links">
                <div class="links-1">
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="links-2">
                    <ul>
                        <li><a href="#">Complaints Book</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div><!--links-->
            <div class="social">
                <ul>
                    <li><a href="#"><img src="assets/facebook.png" alt="facebok"></a></li>
                    <li><a href="#"><img src="assets/instagram.png" alt="instagram"></a></li>
                    <li><a href="#"><img src="assets/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="assets/linkedin.png" alt="linkedin"></a></li>
                    <li><a href="#"><img src="assets/youtube.png" alt="youtube"></a></li>
                </ul>
            </div><!--social-->
        </div><!--container-->
    </footer>
</body>
</html>