<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steevanz</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="Logo"><a routerLink=""><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <nav class="menu">
                <ul>
                    <li><a href="#"><img src="assets/Rede.png" alt="Rede"></a></li>
                    <li><a href="#"><img src="assets/Contato.png" alt="Contato"></a></li>
                    <li><a href="#"><img src="assets/Loja.png" alt="Loja"></a></li>
                </ul>
                <div class="Menu-desktop">
                    <img src="assets/Menu.png" alt="Menu">
                </div>
            </nav>
        </div><!--container-->
    </header><!--header-->
    <div class="checkout-number">
        <div class="container">
            <div class="w100">
                <div class="title-checkout">
                    <h2>Checkout</h2>
                </div><!--title-checkout-->
                <div class="number">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </div><!--number-->
            </div>
        </div>
    </div>
    <div class="delivery-carro">
            <div class="title-carro">
                <img src="assets/carro.png" alt="carro">
                <span>Free delivery in Portugal for amounts over 50€</span>
        </div>
    </div>
    <div class="back">
        <img src="assets/voltar.png" alt="Voltar"><a routerLink="">Continue Shopping</a>
    </div>

    <section class="main">
        <div class="container">
            <div class="title-image">
                <div>
                    <span>1</span> <h2>Check your card</h2>
                </div>
                <div class="diferencial"><h1>FRONTEND DEVELOPER</h1> <span><img src="assets/lixeira.png" alt="Lixeira"></span></div>
                <p>One position available every month.</p>
                <div class="diferencial-2"><img style="max-width: 100%;" src="assets/Foto-2.png" alt="computador e pessoas"></div>
            </div>
            <div class="cupom">
                <form action="" method="get">
                    <label for="">Do you have a discount coupon?</label>
                    <input type="text" placeholder="Write here your coupon">
                </form>
            </div>
        </div>
    </section>
    <div class="price">
        <div class="container">
            <h2>Total: 50€</h2> <span>per month</span>
        </div>
    </div>
    <div class="buttons">
        <div class="container">
            <div class="btn-clean">
                <a routerLink="">CLEAN CART</a>
            </div>
            <div class="btn-next">
                <a routerLink="/checkout2">NEXT</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="Logo"><a routerLink=""><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <div class="links">
                <div class="links-1">
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="links-2">
                    <ul>
                        <li><a href="#">Complaints Book</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div><!--links-->
            <div class="social">
                <ul>
                    <li><a href="#"><img src="assets/facebook.png" alt="facebok"></a></li>
                    <li><a href="#"><img src="assets/instagram.png" alt="instagram"></a></li>
                    <li><a href="#"><img src="assets/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="assets/linkedin.png" alt="linkedin"></a></li>
                    <li><a href="#"><img src="assets/youtube.png" alt="youtube"></a></li>
                </ul>
            </div><!--social-->
        </div><!--container-->
    </footer>
</body>
</html>