<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/src/styles.scss">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steevanz</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="Logo"><a routerLink="/home"><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <nav class="menu">
                <ul>
                    <li><a href="#"><img src="assets/Rede.png" alt="Rede"></a></li>
                    <li><a href="#"><img src="assets/Contato.png" alt="Contato"></a></li>
                    <li><a href="#"><img src="assets/Loja.png" alt="Loja"></a></li>
                </ul>
                <div class="Menu-desktop">
                    <img src="assets/Menu.png" alt="Menu">
                </div>
            </nav>
        </div><!--container-->
    </header><!--header-->
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="w-1">
                    <h2>FRONTEND DEVELOPER</h2>
                    <p>Lorem ipsum quia maxime. Numquam provident adipisci libero neque! Quibusdam hic deleniti aspernatur expedita et quis iste dolore consequuntur rerum illo in ullam ea esse maxime, molestias veniam perferendis aperiam. Harum, modi voluptatum!</p>
                    <div class="btn-link">
                        <div><span>50$<span>per month</span></span></div> 
                        <div><a routerLink="/checkout1">SUBSCRIBE</a></div>
                    </div>
                </div>
                <div class="w-2">
                    <div class="foto-home">
                        <img style="max-width: 100%;" src="assets/Foto-1.png" alt="computador e pessoa">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="Logo"><a href="#"><img src="assets/Logo.png" alt="Steevanz"></a></div>
            <div class="links">
                <div class="links-1">
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="links-2">
                    <ul>
                        <li><a href="#">Complaints Book</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div><!--links-->
            <div class="social">
                <ul>
                    <li><a href="#"><img src="assets/facebook.png" alt="facebok"></a></li>
                    <li><a href="#"><img src="assets/instagram.png" alt="instagram"></a></li>
                    <li><a href="#"><img src="assets/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="assets/linkedin.png" alt="linkedin"></a></li>
                    <li><a href="#"><img src="assets/youtube.png" alt="youtube"></a></li>
                </ul>
            </div><!--social-->
        </div><!--container-->
    </footer>
</body>
</html>