<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steevanz</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="w50-1">
                    <div class="logo">
                        <img routerLink="" src="assets/Logo.png" alt="Steevanz">
                    </div>
                    <div class="home">
                        <h2>Congratulations!</h2>
                        <h3>You will be evaluated in the next few days.</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <button><a routerLink="">HOME</a></button>
                    </div>                
                </div>
                <div class="w50-2">
                    <div>
                        <img src="assets/complete.png" alt="pessoa e celular">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>